#logo {
  width: 100px;
}

#navLinks a {
  letter-spacing: 2px;
  padding-left: 10px;
  font-size: 12px;
}

#navLinks a:hover {
  color: #336699;
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
  text-decoration: none;
  border-color: transparent;
} 

#footerTop {
  height: 200px;
}

#footerTop p {
  margin: 5px;
  letter-spacing: 1px;
}

#footerTop a {
  text-decoration: none;
  color: #6c757d;
}

#footerBtm {
  padding: 20px 0 20px 0;
  background-color: #336699;
}