#logo {
  width: 100px;
}

#navLinks a {
  letter-spacing: 2px;
  padding-left: 10px;
}

#navLinks a:hover {
  color: #336699;
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
  text-decoration: none;
  border-color: transparent;
} 