#logo {
  width: 100px;
}

#navLinks a {
  letter-spacing: 2px;
  padding-left: 10px;
  font-size: 12px;
}

#navLinks a:hover {
  color: #336699;
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
  text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#footerTop {
  height: 200px;
}

#footerTop p {
  margin: 5px;
  letter-spacing: 1px;
}

#footerTop a {
  text-decoration: none;
  color: #6c757d;
}

#footerBtm {
  padding: 20px 0 20px 0;
  background-color: #336699;
}