#brand {
  margin: 0;
  width: 50%;
}

#logo {
  width: 50px;
}

#navLinks a {
  letter-spacing: 2px;
  padding-left: 10px;
  font-size: 12px;
}

#navLinks a:hover {
  color: #336699;
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
  text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#homeJumbo {
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/CoronadoCenter3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logoMain {
  
}

#footerTop {
  height: 200px;
  padding: 0 26px 0 26px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

#footerTopContainer {
  padding: 0 0;
  margin: auto 0;
}

#footerTop h6 {
  letter-spacing: 2px;
  padding-bottom: 10px;
  font-size: 12px;
}

#footerTop p {
  letter-spacing: 1px;
  margin: 5px 0 5px 0;
}

#footerTop a {
  text-decoration: none;
  color: #6c757d;
}

#footerBtm {
  padding: 20px 0 20px 0;
  background-color: #336699;
}

#copyright {
  margin: 0 0 0 26px;
  letter-spacing: 1px;
}